@model OnlineStoreOfBoardGames.Models.Auth.RegisrationViewModel

@section Scripts{
    <script src="/js/Auth/registration.js" ></script>
}

@section Style{
    <link rel="stylesheet" href="/css/Auth/registration.css" />
}

<form class="registration-form" method="post">
    <div class="form-group">
        @Html.TextBoxFor(x => x.Login, new { placeholder = "Логин", @class = "text-input has-to-wait" })
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.Password, new { @type = "password", placeholder = "Пароль", @class = "text-input" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(x => x.RepeatPassword, new { @type = "password", placeholder = "Повторите пароль", @class = "text-input" })
        @Html.ValidationMessageFor(x => x.RepeatPassword)
    </div>
    <div class="form-group">
        <input type="submit" value="Зарегистрироваться" class="submit-button" />
    </div>
</form>

